
.parallax-container {
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.80), rgb(0, 0, 0, 0.80)),
  url('../../../public/team.jpg')
  ;
  }
  
  .parallax-img {
    position: absolute;
    background: rgba(25,25,25,.8) none repeat scroll 0 0;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .featured-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 100%; */
  }
  